header {
    background-color: blueviolet;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
    color: wheat;
}
nav {
    background-color: aquamarine ;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
    color: rgb(178, 125, 27);
}
nav ul{
    list-style: none;
    background-color: blueviolet;

}
nav ul li{
    display: inline-block;
    color: bisque;
    margin: 10px;
    list-style: none;
    
}
nav a{
    color: aquamarine;
    text-decoration: none;
    font-size: 18px;

}
section{
    display: flex;
}
div{
    background-color: chocolate;
    flex-basis: 50%;
